@CHARSET "UTF-8";
header {
	margin-top: 0px !important;
}

header div:first-child {
	float: left;
}

header div:first-child h1 {
    float: left;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header div:last-child {
	padding: 15px 0 0;
}

header div:last-child ul {
	float: right;
	display: inline-block;
	list-style: none;
	margin: 0;
}

header div:last-child ul li {
	float: left;
	padding: 0 10px;
}

/* Navigation */
nav > h1 {
	display: none;
}

#content {
	font-family: Tahoma, sans-serif;
}

#content > h2 {
	display: none;
}

.panel-heading {
	overflow: hidden;
}

.panel-heading div:nth-child(1) {
	float: left;
}

.panel-heading div:nth-child(2) {
	float: right;
}

.panel-heading div:nth-child(2) a {
	color: inherit;
	margin: 0 2px;
}

.panel-title {
	font-weight: bold;
}

.panel-body {
	text-indent: 2em;
	text-align: justify;
}

.panel-footer {
	overflow: hidden;
}

.panel-footer div:first-child {
	float: left;
}

.panel-footer div:last-child {
	float: right;
}

.article-content {
	padding: 5px 3px;
	font-family: Tahoma, sans-serif;
	text-align: justify;
	text-indent: 2em;
}

#comments {
	margin-left: 50px;
	font-size: 13px;
}

#comments > h3 {
	display: none;
}